./Ferrira-et-al-2018-Thompson_Sampling/Thompson_Sampling_.ipynb
./Ferrira-et-al-2018-Thompson_Sampling/Source/MISC_.py
Abbasi-yadkori-et-al-Improved Algorithms for Linear Stochastic Bandits/32_R1358_AAM_Adel_MA_122319_Published_121020.pdf
